/*////////////////////////////////////////*/
/*For body look css code start*/
body{
  background-color: #fff;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  overflow: auto;
  font-size: 100%;
}
/*////////////////////////////////////////*/









/*////////////////////////////////////////*/
/*for main heading aksingh css code start*/
.logo_name_of_school_on_top{
  width: 100%;
  height: 10%;
}

/*for main heading aksingh_logo_name_area*/
.logo{
  width: 20%;
  animation: logo 1s;
}
@keyframes logo {
  0% {transform: translateX(-500px)}
  100% {transform: translateX(0px)}
 
}

.name{
  width: 80%;
  animation: name 1s;
}
@keyframes name {
  0% {transform: translateX(1200px)}
  100% {transform: translateX(0px)}
 
}

#aksingh_international_school_logo{
  width: 100%;
  height: 10vw;
}

#aksingh_international_school_name{
  font-size:4vw;
  text-align: center;
  color: red;
  margin-top: 5%;
}
/*/////////////////////////////////////*/








/*////////////////////////////////////////*/
/*for all top link css code css code start*/
.menu{
  background-color: #333333;
  text-align: center;
}
.menu a{
  text-decoration: none;
  color: #fff;
  margin: 1vw;
  font-size: 2vw;
}
.menu a:hover{
  color: green;
}
.menu .active{
  color: red;
}

.menu .admission{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*key frame for admission blinking*/
@keyframes example {
  0%   {background-color:yellow;}
  10%  {background-color:red;}
  20%  {background-color:green; }
  30%  {background-color:red;}
  40% {background-color:blue; }
  50%  {background-color:red;}
  60%   {background-color:yellow;}
  70%  {background-color:red;}
  80%  {background-color:green; }
  90%  {background-color:red;}
  100% {background-color:blue; }
}
/*////////////////////////////////////////*/








/*////////////////////////////////////////*/
/*for main image css code css code start*/
#main_image{
  width: 100%;
  max-height: 600px;
  margin-bottom: 30px;
}
/*////////////////////////////////////////*/






/*////////////////////////////////////////*/
/*welocome text*/
#C{
  text-align: center;
  font-size: 60px;
  color: blue;
  font-size: 8vw;
}

#C:hover{
  animation: welcome 3s;
}



@keyframes welcome{
  0{transform:rotateZ(0deg);}
  9%{transform:rotateZ(3deg);}
  18%{transform:rotateZ(-3deg);}
  27%{transform:rotateZ(0);}
  36%{transform:rotateZ(-3deg);}
  45%{transform:rotateZ(3deg);}
  54%{transform:rotateZ(0deg);}
  63%{transform:rotateZ(3deg);}
  72%{transform:rotateZ(-3deg);}
  81%{transform:rotateZ(0deg);}
  90%{transform:rotateZ(-3deg);}
  100%{transform:rotateZ(3deg);}
}
/*////////////////////////////////////////*/







/*A Community of Passionate Educators and Learners*/
#D{
  text-align: center;
  font-size: 3.5VW;
}



/*ABOUT OUR COLLEGE*/
#kc{
  width: 100%;
  height: 20vw;
  background-color: #f2f2f2;
}





.ke{
  width: 50%;
  font-size: 2vw;
}


.ki{
  width: 50%;
  
}

.mm{
  margin: 15px;
  color: blue;
}

.mn{
  margin: 20px;
}


#mo{
  width: 100%;
}



.J{
  text-align: center;
  padding: 10px;
}

#K{
  color: blue;
  font-size: 3vw;
}


#G{
  margin: 30px 10px;
}

#L{
  font-size: 2vw;
}

.M{
  display: flex;
  background-color: #f2f2f2;
  font-size: 10px;
  height: 250px;
  width: 100%;
}

.N{
  width: 33%;
  padding: 1.2px;
  height: 250px;
  
}

.O{
  width: 100px;
  flex: 33%;
  padding: 10px;
  font-size: 2vw;
}


.Q{
  display: flex;
  background-color: #f2f2f2;
}



.AB{
  text-align: center;
  margin: 40px;
  color: blue;
  font-size: 3vw;
}

#gb{
  background-color: #f2f2f2;
}


.AC{
  text-align: center;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 2vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin-bottom: 0;
}



.aq{
  display: flex;
  background-color: #f2f2f2;
  width: auto;
}


.aw{
  width: 32.90%;
  height: 200px;
  border: 1px solid #f2f2f2;
}

/*get in touch text*/
.de{
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
}

.df{
  width: 33.33%;
  height: auto;
  padding: 15px;
  font-size: 2vw;
}


.am{
  background-color: #f2f2f2;
  display: flex;
  height: 70px;
}

.an{
  width: 33%;
  color: blue;
  background-color: #fff;
  padding: 15px;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
}

/*You cannot open a book without learning something.*/
.sb{
  text-align: center;
  font-size: 3vw;
}

.down_main_image{
  width: 100%;
}




/*////////////////////////////////////////*/
/*for all footer content*/
.footer{
  background: linear-gradient(to bottom right, #333333, black);
  text-align: center;
  color: #fff;
  padding: 40px;
}
.contact_us_heading{
  color: red;
}
.fa{
  font-size: 40px;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}
.logo_name{
  align-items: right;
  color: yellow;
}
.need_any_help{
  font-size: 20px;
}
.fa:hover{
  color: #fff;
  text-decoration: none;
  transform: scale(1.2);
  transition: 1s;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/*////////////////////////////////////////*/


