/*////////////////////////////////////////*/
/*For body look css code start*/
body{
  background-color: #fff;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  overflow: auto;
  font-size: 100%;
}
/*////////////////////////////////////////*/









/*////////////////////////////////////////*/
/*for main heading aksingh css code start*/
.logo_name_of_school_on_top{
  width: 100%;
  height: 10%;
}

/*for main heading aksingh_logo_name_area*/
.logo{
  width: 20%;
}

.name{
  width: 80%;
}

#aksingh_international_school_logo{
  width: 100%;
  height: 10vw;
}

#aksingh_international_school_name{
  font-size:4vw;
  text-align: center;
  color: red;
  margin-top: 6%;
}
/*/////////////////////////////////////*/











/*////////////////////////////////////////*/
/*for all top link css code css code start*/
.menu{
  background-color: #333333;
  text-align: center;
}
.menu a{
  text-decoration: none;
  color: #fff;
  margin: 1vw;
  font-size: 2vw;
}
.menu a:hover{
  color: green;
}
.menu .active{
  color: red;
}

.menu .admission{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*key frame for admission blinking*/
@keyframes example {
  0%   {background-color:yellow;}
  10%  {background-color:red;}
  20%  {background-color:green; }
  30%  {background-color:red;}
  40% {background-color:blue; }
  50%  {background-color:red;}
  60%   {background-color:yellow;}
  70%  {background-color:red;}
  80%  {background-color:green; }
  90%  {background-color:red;}
  100% {background-color:blue; }
}
/*////////////////////////////////////////*/



/*for school image*/
#B{
  width: 100%;
}

#qw{
  text-align: center;
  color: blue;
  font-size: 3vw;
}

table{
  width: 100%;
}

.fs{
  text-align: center;
  text-decoration: none;
  background-color: #00ffff;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.mg{
  width: 100%;
}


.O{
  display: inline
}

img{
  width: 100%;
}

.po{
  margin-bottom: 0;
}




.f{
  background-color: #00ffff;
  border: 2px solid gold;
  text-align: center;
}


a{
  text-decoration: none;
}


.fat{
  font-size: 3vw;
}




/*////////////////////////////////////////*/
/*for all footer content*/
.footer{
  background: linear-gradient(to bottom right, #333333, black);
  text-align: center;
  color: #fff;
  padding: 40px;
}
.contact_us_heading{
  color: red;
}
.fa{
  font-size: 40px;
  padding: 12px;
  width: 90px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}
.logo_name{
  align-items: right;
  color: yellow;
}
.need_any_help{
  font-size: 20px;
}
.fa:hover{
  color: #fff;
  text-decoration: none;
  transform: scale(1.2);
  transition: 1s;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
/*////////////////////////////////////////*/







